{% extends "layouts/layout.html" %}
{% block content %}

<div class="row">
{% if not posts %}
    <h3 class="m-auto col-8 offset-2">No posts have been added yet </h3>
{% endif %}
{% for post in posts %}
	<div class="card col-5 m-auto mt-3" style="width: 18rem;">
      <img src="{{ post.image.url }}" width="200px" height="200px" class="card-img-top" alt="...">
      <div class="card-body">
        <h3> <a href="{% url 'single-post' post.id %}">{{ post.display_title }}</a></h3>
        <p class="card-text">{{ post.display_text }}.</p>
        <hr class='mb-1 mt-2'>
        <p class="mini-text">
            <span class="text-primary mr-2">{{ post.author }}</span>
            <span class="text-muted">{{post.updated_at|date:"d F, Y"}}</span>
        </p>
      </div>
    </div>
{% endfor%}
</div>
{% endblock content %}
