{% extends "layouts/layout.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row container">
<h3 class="col-md-8 mx-auto col-12 mb-3">Create/Update Blog Post</h3>
<form action="" class="form col-md-8 m-auto col-12 border p-3 shadow-sm" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group">
        {{ form|crispy }}
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-md btn-success" value="Post">
    </div>
</form>
</div>

{% endblock content %}

